name: Build Docs Service

on:
  push:
    branches:
      - main
    paths:
      - 'configs/**'
      - 'Dockerfile'
      - '.github/workflows/build-docs.yml'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-docs-service:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/docs-service
          tags: |
            type=raw,value=9.1.0.1
            type=raw,value=latest

      - name: Build & Push Docs Service
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.onlyoffice
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
